@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-poppins: "Poppins", "sans-serif";

  /* Disabling Tailwind CSS default colors to allow only colors used in project */
  --color-*: initial;

  --color-info: #2432f5;
  --color-info-container: #f0f1fe;
  --color-info-container-2: #c5c8fc;

  --color-white: #fff;
  --color-black: #000;
  --color-transparent: "transparent";

  --color-primary: #b9243c;
  --color-grey: #7a7172;
  --color-warning: #dd900d;
  --color-success: #0f973d;
  --color-error: #d42620;

  /* Different shades of each color */
  --color-primary-25: #fbf3f5;
  --color-primary-50: #f8e9ec;
  --color-primary-100: #e9bbc3;
  --color-primary-200: #df9aa5;
  --color-primary-300: #d06c7c;
  --color-primary-400: #c75063;
  --color-primary-500: #b9243c;
  --color-primary-600: #a82137;
  --color-primary-700: #831a2b;
  --color-primary-800: #661421;
  --color-primary-900: #4e0f19;

  --color-grey-25: #fcfcfc;
  --color-grey-50: #f7f7f7;
  --color-grey-100: #f3f2f2;
  --color-grey-200: #e9e8e8;
  --color-grey-300: #d7d5d6;
  --color-grey-400: #a8a3a4;
  --color-grey-500: #7a7172;
  --color-grey-600: #5d5152;
  --color-grey-700: #4a4041;
  --color-grey-800: #2e2829;
  --color-grey-900: #1e1a1b;

  --color-success-25: #f4faf6;
  --color-success-50: #e7f5ec;
  --color-success-100: #b5dfc3;
  --color-success-200: #91cfa6;
  --color-success-300: #5eb97d;
  --color-success-400: #3fac64;
  --color-success-500: #0f973d;
  --color-success-600: #0e8938;
  --color-success-700: #0b6b2b;
  --color-success-800: #085322;
  --color-success-900: #063f1a;

  --color-warning-25: #fdf9f1;
  --color-warning-50: #fcf4e7;
  --color-warning-100: #f4ddb4;
  --color-warning-200: #efcc90;
  --color-warning-300: #e8b55d;
  --color-warning-400: #e4a63d;
  --color-warning-500: #dd900d;
  --color-warning-600: #c9830c;
  --color-warning-700: #9d6609;
  --color-warning-800: #7a4f07;
  --color-warning-900: #5d3c05;

  --color-error-25: #fdf6f6;
  --color-error-50: #fbe9e9;
  --color-error-100: #f2bcba;
  --color-error-200: #eb9b98;
  --color-error-300: #e26e6a;
  --color-error-400: #dd514d;
  --color-error-500: #d42620;
  --color-error-600: #c1231d;
  --color-error-700: #971b17;
  --color-error-800: #751512;
  --color-error-900: #59100d;

}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    font-size: 14px;
    font-family: "Poppins", "sans-serif";
  }
  /* * {
    @apply border-border outline-ring/50;
  } */
}
